<div class="list__menu">
  <ul>
    <li><a href="/product-list" class="item__menu color-blue">Список товарів</a></li>
    <li><a href="/product-create" class="item__menu color-blue">Створити товар</a></li>
  </ul>
</div>