<div class="heading">
    {{#if st}}
    {{#if subtitle}}<h2 class="heading__subtitle">{{subtitle}}</h2>{{/if}}
    {{else}}
    {{#if title}}<h2 class="heading__title">{{title}}</h2>{{/if}}
    {{/if}}
    {{#if info}}<p class="heading__info">{{info}}</p>{{/if}}
</div>