<main>
    <section>
        <div class="page">
            <h5 class="page__title">Список товарів</h5>
            <div class="page__content">
                {{> product-card data=listProduct}}
            </div>
        </div>
    </section>
</main>